In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('Train.csv')
data.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,C,Flight,2,5,306,6,high,M,45,3838,1
1,2,F,Ship,7,2,114,3,high,M,35,2710,1
2,3,B,Ship,7,2,215,7,medium,F,44,4152,0
3,4,A,Road,5,3,126,5,medium,M,54,2245,0
4,5,F,Ship,3,5,113,3,medium,M,43,1806,1

In [3]:
x=data.iloc[:,1:-1]
y=data.iloc[:,-1]

Features Shape

In [4]:
x.head()

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,C,Flight,2,5,306,6,high,M,45,3838
1,F,Ship,7,2,114,3,high,M,35,2710
2,B,Ship,7,2,215,7,medium,F,44,4152
3,A,Road,5,3,126,5,medium,M,54,2245
4,F,Ship,3,5,113,3,medium,M,43,1806

Target Shape

In [5]:
y.tail()

995    0
996    0
997    1
998    1
999    1
Name: Reached.on.Time_Y.N, dtype: int64

Numerical Features

In [6]:
n=x.select_dtypes(include=['int64','float64']).columns
n

Index(['Customer_care_calls', 'Customer_rating', 'Cost_of_the_Product',
       'Prior_purchases', 'Discount_offered', 'Weight_in_gms'],
      dtype='object')

Categorical Features

In [7]:
c=x.select_dtypes(include=['object']).columns
c

Index(['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender'], dtype='object')