In [3]:

import pandas as pd
df = pd.read_csv("./Train.csv")
print("Head:")
print(df.head())

Head:
   ID Warehouse_block Mode_of_Shipment  Customer_care_calls  Customer_rating  \
0   1               D           Flight                    4                2
1   2               F           Flight                    4                5
2   3               A           Flight                    2                2
3   4               B           Flight                    3                3
4   5               C           Flight                    2                2

   Cost_of_the_Product  Prior_purchases Product_importance Gender  \
0                  177                3                low      F
1                  216                2                low      M
2                  183                4                low      M
3                  176                4             medium      M
4                  184                3             medium      F

   Discount_offered  Weight_in_gms  Reached.on.Time_Y.N
0                44           1233                    1
1                59           3088                    1
2                48           3374                    1
3                10           1177                    1
4                46           2484                    1

In [4]:
print("\nTail:")
print(df.tail())

Tail:
          ID Warehouse_block Mode_of_Shipment  Customer_care_calls  \
10994  10995               A             Ship                    4
10995  10996               B             Ship                    4
10996  10997               C             Ship                    5
10997  10998               F             Ship                    5
10998  10999               D             Ship                    2

       Customer_rating  Cost_of_the_Product  Prior_purchases  \
10994                1                  252                5
10995                1                  232                5
10996                4                  242                5
10997                2                  223                6
10998                5                  155                5

      Product_importance Gender  Discount_offered  Weight_in_gms  \
10994             medium      F                 1           1538
10995             medium      F                 6           1247
10996                low      F                 4           1155
10997             medium      M                 2           1210
10998                low      F                 6           1639

       Reached.on.Time_Y.N
10994                    1
10995                    0
10996                    0
10997                    0
10998                    0

In [5]:
print("\nInfo:")
print(df.info())

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
 11  Reached.on.Time_Y.N  10999 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.0+ MB
None

In [6]:
print("\nDescribe:")
print(df.describe())

Describe:
                ID  Customer_care_calls  Customer_rating  Cost_of_the_Product  \
count  10999.00000         10999.000000     10999.000000         10999.000000
mean    5500.00000             4.054459         2.990545           210.196836
std     3175.28214             1.141490         1.413603            48.063272
min        1.00000             2.000000         1.000000            96.000000
25%     2750.50000             3.000000         2.000000           169.000000
50%     5500.00000             4.000000         3.000000           214.000000
75%     8249.50000             5.000000         4.000000           251.000000
max    10999.00000             7.000000         5.000000           310.000000

       Prior_purchases  Discount_offered  Weight_in_gms  Reached.on.Time_Y.N
count     10999.000000      10999.000000   10999.000000         10999.000000
mean          3.567597         13.373216    3634.016729             0.596691
std           1.522860         16.205527    1635.377251             0.490584
min           2.000000          1.000000    1001.000000             0.000000
25%           3.000000          4.000000    1839.500000             0.000000
50%           3.000000          7.000000    4149.000000             1.000000
75%           4.000000         10.000000    5050.000000             1.000000
max          10.000000         65.000000    7846.000000             1.000000

In [7]:
print("\nMean:")
print(df.mean(numeric_only=True))

print("\nMedian:")
print(df.median(numeric_only=True))

print("\nMode:")
print(df.mode().iloc[0])

Mean:
ID                     5500.000000
Customer_care_calls       4.054459
Customer_rating           2.990545
Cost_of_the_Product     210.196836
Prior_purchases           3.567597
Discount_offered         13.373216
Weight_in_gms          3634.016729
Reached.on.Time_Y.N       0.596691
dtype: float64

Median:
ID                     5500.0
Customer_care_calls       4.0
Customer_rating           3.0
Cost_of_the_Product     214.0
Prior_purchases           3.0
Discount_offered          7.0
Weight_in_gms          4149.0
Reached.on.Time_Y.N       1.0
dtype: float64

Mode:
ID                          1
Warehouse_block             F
Mode_of_Shipment         Ship
Customer_care_calls       4.0
Customer_rating           3.0
Cost_of_the_Product     245.0
Prior_purchases           3.0
Product_importance        low
Gender                      F
Discount_offered         10.0
Weight_in_gms          4883.0
Reached.on.Time_Y.N       1.0
Name: 0, dtype: object

In [8]:
print("\nNull Values:")
print(df.isnull().sum())

Null Values:
ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
Reached.on.Time_Y.N    0
dtype: int64

In [9]:
print("\nTotal Missing Values:")
print(df.isnull().sum().sum())

Total Missing Values:
0

In [10]:
df_filled = df.fillna(df.mean(numeric_only=True))

# Drop missing values
df_dropped = df.dropna()

In [11]:
print("\nUnique Values:")
print(df.nunique())

Unique Values:
ID                     10999
Warehouse_block            5
Mode_of_Shipment           3
Customer_care_calls        6
Customer_rating            5
Cost_of_the_Product      215
Prior_purchases            8
Product_importance         3
Gender                     2
Discount_offered          65
Weight_in_gms           4034
Reached.on.Time_Y.N        2
dtype: int64

In [12]:
first_col = df.columns[0]
print(f"\nValue Counts of {first_col}:")
print(df[first_col].value_counts())

Value Counts of ID:
ID
10999    1
1        1
2        1
3        1
4        1
        ..
12       1
11       1
10       1
9        1
8        1
Name: count, Length: 10999, dtype: int64

In [13]:
print("\nCorrelation Matrix:")
print(df.corr(numeric_only=True))

Correlation Matrix:
                           ID  Customer_care_calls  Customer_rating  \
ID                   1.000000             0.188998        -0.005722
Customer_care_calls  0.188998             1.000000         0.012209
Customer_rating     -0.005722             0.012209         1.000000
Cost_of_the_Product  0.196791             0.323182         0.009270
Prior_purchases      0.145369             0.180771         0.013179
Discount_offered    -0.598278            -0.130750        -0.003124
Weight_in_gms        0.278312            -0.276615        -0.001897
Reached.on.Time_Y.N -0.411822            -0.067126         0.013119

                     Cost_of_the_Product  Prior_purchases  Discount_offered  \
ID                              0.196791         0.145369         -0.598278
Customer_care_calls             0.323182         0.180771         -0.130750
Customer_rating                 0.009270         0.013179         -0.003124
Cost_of_the_Product             1.000000         0.123676         -0.138312
Prior_purchases                 0.123676         1.000000         -0.082769
Discount_offered               -0.138312        -0.082769          1.000000
Weight_in_gms                  -0.132604        -0.168213         -0.376067
Reached.on.Time_Y.N            -0.073587        -0.055515          0.397108

                     Weight_in_gms  Reached.on.Time_Y.N
ID                        0.278312            -0.411822
Customer_care_calls      -0.276615            -0.067126
Customer_rating          -0.001897             0.013119
Cost_of_the_Product      -0.132604            -0.073587
Prior_purchases          -0.168213            -0.055515
Discount_offered         -0.376067             0.397108
Weight_in_gms             1.000000            -0.268793
Reached.on.Time_Y.N      -0.268793             1.000000

In [15]:
print("\nShape:")
print(df.shape)

Shape:
(10999, 12)

In [16]:
print("\nColumns:")
print(df.columns)

Columns:
Index(['ID', 'Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms',
       'Reached.on.Time_Y.N'],
      dtype='object')

In [17]:
print("\nDuplicate Rows:")
print(df.duplicated().sum())

Duplicate Rows:
0