In [40]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer

In [41]:
df = pd.read_csv("Train.csv")

print("First 5 Rows:")
print(df.head())

print("\nShape:", df.shape)

First 5 Rows:
   ID Warehouse_block Mode_of_Shipment  Customer_care_calls  Customer_rating  \
0   1               C           Flight                    2                5
1   2               F             Ship                    7                2
2   3               B             Ship                    7                2
3   4               A             Road                    5                3
4   5               F             Ship                    3                5

   Cost_of_the_Product  Prior_purchases Product_importance Gender  \
0                  306                6               high      M
1                  114                3               high      M
2                  215                7             medium      F
3                  126                5             medium      M
4                  113                3             medium      M

   Discount_offered  Weight_in_gms  Reached.on.Time_Y.N
0                45           3838                    1
1                35           2710                    1
2                44           4152                    0
3                54           2245                    0
4                43           1806                    1

Shape: (1000, 12)

In [42]:
if 'ID' in df.columns:
    df = df.drop('ID', axis=1)
    print("\nID column removed")

ID column removed

In [43]:
df.head()

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,C,Flight,2,5,306,6,high,M,45,3838,1
1,F,Ship,7,2,114,3,high,M,35,2710,1
2,B,Ship,7,2,215,7,medium,F,44,4152,0
3,A,Road,5,3,126,5,medium,M,54,2245,0
4,F,Ship,3,5,113,3,medium,M,43,1806,1

In [44]:
target = 'Reached.on.Time_Y.N'

X = df.drop(target, axis=1)
y = df[target]

print("\nFeatures Shape:", X.shape)
print("Target Shape:", y.shape)

Features Shape: (1000, 10)
Target Shape: (1000,)

In [45]:
num_cols = X.select_dtypes(include=['int64', 'float64']).columns.tolist()
cat_cols = X.select_dtypes(include=['object']).columns.tolist()

print("\nNumerical Columns:", num_cols)
print("Categorical Columns:", cat_cols)

Numerical Columns: ['Customer_care_calls', 'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases', 'Discount_offered', 'Weight_in_gms']
Categorical Columns: ['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender']

In [46]:
print("\nMissing Values Before Cleaning:")
print(X.isnull().sum())

Missing Values Before Cleaning:
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

In [47]:
X[num_cols] = X[num_cols].apply(lambda col: col.fillna(col.median()))

In [48]:
X[cat_cols] = X[cat_cols].fillna("Missing")

In [49]:
print("\nMissing Values After Cleaning:")
print(X.isnull().sum())

Missing Values After Cleaning:
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

In [50]:
X = pd.get_dummies(X, columns=cat_cols, drop_first=True)

print("\nShape After Encoding:", X.shape)
print(X.head())

Shape After Encoding: (1000, 15)
   Customer_care_calls  Customer_rating  Cost_of_the_Product  Prior_purchases  \
0                    2                5                  306                6
1                    7                2                  114                3
2                    7                2                  215                7
3                    5                3                  126                5
4                    3                5                  113                3

   Discount_offered  Weight_in_gms  Warehouse_block_B  Warehouse_block_C  \
0                45           3838              False               True
1                35           2710              False              False
2                44           4152               True              False
3                54           2245              False              False
4                43           1806              False              False

   Warehouse_block_D  Warehouse_block_F  Mode_of_Shipment_Road  \
0              False              False                  False
1              False               True                  False
2              False              False                  False
3              False              False                   True
4              False               True                  False

   Mode_of_Shipment_Ship  Product_importance_low  Product_importance_medium  \
0                  False                   False                      False
1                   True                   False                      False
2                   True                   False                       True
3                  False                   False                       True
4                   True                   False                       True

   Gender_M
0      True
1      True
2     False
3      True
4      True

In [51]:
scaler = StandardScaler()

X[num_cols] = scaler.fit_transform(X[num_cols])

print("\nData After Scaling:")
print(X.head())

Data After Scaling:
   Customer_care_calls  Customer_rating  Cost_of_the_Product  Prior_purchases  \
0            -1.458242         1.418235             1.685582         0.006219
1             1.431655        -0.689098            -1.376677        -1.159787
2             1.431655        -0.689098             0.234199         0.394887
3             0.275696         0.013346            -1.185286        -0.382450
4            -0.880263         1.418235            -1.392626        -1.159787

   Discount_offered  Weight_in_gms  Warehouse_block_B  Warehouse_block_C  \
0          0.703501       0.239186              False               True
1          0.162887      -0.562394              False              False
2          0.649440       0.462321               True              False
3          1.190054      -0.892833              False              False
4          0.595378      -1.204796              False              False

   Warehouse_block_D  Warehouse_block_F  Mode_of_Shipment_Road  \
0              False              False                  False
1              False               True                  False
2              False              False                  False
3              False              False                   True
4              False               True                  False

   Mode_of_Shipment_Ship  Product_importance_low  Product_importance_medium  \
0                  False                   False                      False
1                   True                   False                      False
2                   True                   False                       True
3                  False                   False                       True
4                   True                   False                       True

   Gender_M
0      True
1      True
2     False
3      True
4      True

In [52]:
syn_df = pd.read_excel("Synthetic-Data.xlsx")

print("\nSynthetic Data Preview:")
print(syn_df.head())

print("\nMissing Before KNN:")
print(syn_df.isnull().sum())

Synthetic Data Preview:
          Age        Income     City      Score Category_A  Feature_x  \
0   39.967142  89264.168397  City_24  73.540614          C   0.204759
1  150.000000  55527.500577  City_25  61.066441          C   0.765878
2  150.000000  23379.862874  City_32  67.614295          C  -1.615887
3  150.000000  11534.100901   City_5   9.033769        NaN   0.299648
4  150.000000  44277.118652  City_29  95.197580          A   0.932435

   Feature_y  Target
0   0.499096       1
1  -1.692271       0
2  -0.170386       0
3  -0.812824       0
4   0.828059       0

Missing Before KNN:
Age            0
Income         0
City           0
Score          0
Category_A    94
Feature_x      0
Feature_y      0
Target         0
dtype: int64

In [53]:
numeric_cols = syn_df.select_dtypes(include=['int64', 'float64']).columns.tolist()

imputer = KNNImputer(n_neighbors=5)

syn_df[numeric_cols] = imputer.fit_transform(syn_df[numeric_cols])

In [54]:
print("\nMissing After KNN:")
print(syn_df.isnull().sum())

print("\nFinal Synthetic Data:")
print(syn_df.head())

Missing After KNN:
Age            0
Income         0
City           0
Score          0
Category_A    94
Feature_x      0
Feature_y      0
Target         0
dtype: int64

Final Synthetic Data:
          Age        Income     City      Score Category_A  Feature_x  \
0   39.967142  89264.168397  City_24  73.540614          C   0.204759
1  150.000000  55527.500577  City_25  61.066441          C   0.765878
2  150.000000  23379.862874  City_32  67.614295          C  -1.615887
3  150.000000  11534.100901   City_5   9.033769        NaN   0.299648
4  150.000000  44277.118652  City_29  95.197580          A   0.932435

   Feature_y  Target
0   0.499096     1.0
1  -1.692271     0.0
2  -0.170386     0.0
3  -0.812824     0.0
4   0.828059     0.0