In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Train.csv")
df.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,C,Flight,2,5,306,6,high,M,45,3838,1
1,2,F,Ship,7,2,114,3,high,M,35,2710,1
2,3,B,Ship,7,2,215,7,medium,F,44,4152,0
3,4,A,Road,5,3,126,5,medium,M,54,2245,0
4,5,F,Ship,3,5,113,3,medium,M,43,1806,1

In [3]:
df.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
Reached.on.Time_Y.N    0
dtype: int64

In [4]:
X= df.drop('Reached.on.Time_Y.N',axis=1)
y=df['Reached.on.Time_Y.N']
print("Features shape:",X.shape)
print("Target shape:",y.shape)

Features shape: (1000, 11)
Target shape: (1000,)

In [8]:
categorical_columns=X.select_dtypes(include='object').columns
categorical_columns

Index(['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender'], dtype='object')

In [9]:
X_encoded=pd.get_dummies(X,drop_first=True)
X_encoded.head()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Product_importance_low,Product_importance_medium,Gender_M
0,1,2,5,306,6,45,3838,False,True,False,False,False,False,False,False,True
1,2,7,2,114,3,35,2710,False,False,False,True,False,True,False,False,True
2,3,7,2,215,7,44,4152,True,False,False,False,False,True,False,True,False
3,4,5,3,126,5,54,2245,False,False,False,False,True,False,False,True,True
4,5,3,5,113,3,43,1806,False,False,False,True,False,True,False,True,True

In [10]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_scaled=scaler.fit_transform(X_encoded)
X_scaled=pd.DataFrame(X_scaled,columns=X_encoded.columns)
X_scaled.head()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Product_importance_low,Product_importance_medium,Gender_M
0,-1.730320,-1.458242,1.418235,1.685582,0.006219,0.703501,0.239186,-0.468521,1.91648,-0.520238,-0.493742,-0.725753,-0.706577,-0.738644,-0.693889,1.032529
1,-1.726856,1.431655,-0.689098,-1.376677,-1.159787,0.162887,-0.562394,-0.468521,-0.52179,-0.520238,2.025350,-0.725753,1.415275,-0.738644,-0.693889,1.032529
2,-1.723391,1.431655,-0.689098,0.234199,0.394887,0.649440,0.462321,2.134375,-0.52179,-0.520238,-0.493742,-0.725753,1.415275,-0.738644,1.441153,-0.968496
3,-1.719927,0.275696,0.013346,-1.185286,-0.382450,1.190054,-0.892833,-0.468521,-0.52179,-0.520238,-0.493742,1.377879,-0.706577,-0.738644,1.441153,1.032529
4,-1.716463,-0.880263,1.418235,-1.392626,-1.159787,0.595378,-1.204796,-0.468521,-0.52179,-0.520238,2.025350,-0.725753,1.415275,-0.738644,1.441153,1.032529

In [11]:
X_scaled['Target']=y
X_scaled.head()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Product_importance_low,Product_importance_medium,Gender_M,Target
0,-1.730320,-1.458242,1.418235,1.685582,0.006219,0.703501,0.239186,-0.468521,1.91648,-0.520238,-0.493742,-0.725753,-0.706577,-0.738644,-0.693889,1.032529,1
1,-1.726856,1.431655,-0.689098,-1.376677,-1.159787,0.162887,-0.562394,-0.468521,-0.52179,-0.520238,2.025350,-0.725753,1.415275,-0.738644,-0.693889,1.032529,1
2,-1.723391,1.431655,-0.689098,0.234199,0.394887,0.649440,0.462321,2.134375,-0.52179,-0.520238,-0.493742,-0.725753,1.415275,-0.738644,1.441153,-0.968496,0
3,-1.719927,0.275696,0.013346,-1.185286,-0.382450,1.190054,-0.892833,-0.468521,-0.52179,-0.520238,-0.493742,1.377879,-0.706577,-0.738644,1.441153,1.032529,0
4,-1.716463,-0.880263,1.418235,-1.392626,-1.159787,0.595378,-1.204796,-0.468521,-0.52179,-0.520238,2.025350,-0.725753,1.415275,-0.738644,1.441153,1.032529,1

In [12]:
X_scaled.to_csv("preprocessed_data.csv",index=False)