Importing Libraries

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Importing dataset

In [31]:
data=pd.read_csv('Train.csv')

Pivot

In [32]:
data1=data.pivot_table(values='Customer_rating',index='Warehouse_block',columns='Mode_of_Shipment')
data1

Mode_of_Shipment    Flight      Road      Ship
Warehouse_block
A                 3.288462  2.634921  3.024390
B                 2.650000  3.123077  3.000000
C                 3.132353  3.012987  2.913043
D                 2.985507  2.814286  2.824324
F                 3.054795  3.271429  3.000000

Unique values in Warehouse

In [33]:
data['Warehouse_block'].unique()

array(['C', 'F', 'B', 'A', 'D'], dtype=object)

Values using logical operations product importance - high

In [40]:
df=data[data['Product_importance']=='high']['Discount_offered'].mean()
df

30.91304347826087

Value Counts

In [35]:
data['Cost_of_the_Product'].value_counts()

Cost_of_the_Product
273    12
170    11
189    10
121     9
154     9
       ..
287     1
266     1
124     1
301     1
90      1
Name: count, Length: 220, dtype: int64

In [36]:
data['Weight_in_gms'].value_counts()

Weight_in_gms
1722    4
2847    3
5027    3
2147    3
2431    3
       ..
3495    1
4560    1
5155    1
2615    1
1304    1
Name: count, Length: 903, dtype: int64

Mean of Cost of Product

In [37]:
data['Cost_of_the_Product'].mean()

200.316

Values greater than mean of cost of the product

In [38]:
df=data[data['Cost_of_the_Product']>data['Cost_of_the_Product'].mean()]
df

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,C,Flight,2,5,306,6,high,M,45,3838,1
2,3,B,Ship,7,2,215,7,medium,F,44,4152,0
5,6,F,Road,5,1,252,2,low,F,60,1866,1
6,7,D,Flight,5,1,235,3,medium,M,42,2947,0
8,9,C,Flight,2,4,240,4,high,F,2,2610,1
...,...,...,...,...,...,...,...,...,...,...,...,...
989,990,C,Road,7,5,273,3,low,M,23,1476,1
991,992,C,Road,4,3,233,10,medium,M,54,3780,0
992,993,D,Road,4,3,230,2,low,F,10,4797,0
998,999,A,Road,5,3,296,3,low,M,17,1487,1
999,1000,B,Flight,6,5,207,5,medium,F,17,1304,1

Finding number of values length

In [39]:

len(df)

509