In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_theme(style="whitegrid")

In [3]:
df=pd.read_csv('train.csv')

In [4]:
pivot = pd.pivot_table(df,
                       values='Weight_in_gms',
                       index='Warehouse_block',
                       columns='Mode_of_Shipment',
                       aggfunc='mean')

print(pivot)

Mode_of_Shipment       Flight         Road         Ship
Warehouse_block
A                 3660.171717  3602.901361  3607.724638
B                 3601.966216  3615.602041  3648.488335
C                 3625.569492  3661.574830  3640.284566
D                 3672.316498  3677.500000  3607.065863
F                 3607.991554  3670.027304  3642.588424

In [5]:
pivot = pd.pivot_table(df,
                       values='Weight_in_gms',
                       index='Warehouse_block',
                       columns='Mode_of_Shipment',
                       aggfunc='sum')

print(pivot)

Mode_of_Shipment   Flight     Road     Ship
Warehouse_block
A                 1087071  1059253  4480794
B                 1066182  1062987  4535071
C                 1069543  1076503  4528514
D                 1090678  1073830  4490797
F                 2135931  2150636  9062760

In [6]:
pivot = pd.pivot_table(df,
                       values='Customer_rating',
                       index='Warehouse_block',
                       columns='Mode_of_Shipment',
                       aggfunc='mean')

print(pivot)

Mode_of_Shipment    Flight      Road      Ship
Warehouse_block
A                 3.070707  2.812925  2.964573
B                 2.996622  3.000000  2.971842
C                 2.932203  3.068027  2.991158
D                 2.818182  3.219178  3.018474
F                 3.038851  2.936860  3.000804

In [7]:
slice_data = df[df['Warehouse_block'] == 'A']
print(slice_data.head())

    ID Warehouse_block Mode_of_Shipment  Customer_care_calls  Customer_rating  \
2    3               A           Flight                    2                2
8    9               A           Flight                    3                4
14  15               A           Flight                    4                3
20  21               A             Ship                    3                3
26  27               A             Ship                    4                1

    Cost_of_the_Product  Prior_purchases Product_importance Gender  \
2                   183                4                low      M
8                   150                3                low      F
14                  152                3                low      M
20                  161                2             medium      F
26                  172                3               high      F

    Discount_offered  Weight_in_gms  Reached.on.Time_Y.N
2                 48           3374                    1
8                 11           1861                    1
14                43           1009                    1
20                38           1521                    1
26                24           1066                    1

In [8]:
slice_data = df[df['Warehouse_block'] == 'D']
print(slice_data.head())

    ID Warehouse_block Mode_of_Shipment  Customer_care_calls  Customer_rating  \
0    1               D           Flight                    4                2
6    7               D           Flight                    3                4
12  13               D           Flight                    3                5
18  19               D             Ship                    5                5
24  25               D             Ship                    4                5

    Cost_of_the_Product  Prior_purchases Product_importance Gender  \
0                   177                3                low      F
6                   250                3                low      F
12                  198                3             medium      F
18                  239                3               high      M
24                  251                2             medium      F

    Discount_offered  Weight_in_gms  Reached.on.Time_Y.N
0                 44           1233                    1
6                  3           2371                    1
12                 1           3667                    1
18                18           2495                    1
24                28           3561                    1

In [9]:
dice_data = df[(df['Warehouse_block'] == 'A') &
               (df['Mode_of_Shipment'] == 'Flight') &
               (df['Reached.on.Time_Y.N'] == 1)]

print(dice_data.head())

      ID Warehouse_block Mode_of_Shipment  Customer_care_calls  \
2      3               A           Flight                    2
8      9               A           Flight                    3
14    15               A           Flight                    4
134  135               A           Flight                    3
140  141               A           Flight                    4

     Customer_rating  Cost_of_the_Product  Prior_purchases Product_importance  \
2                  2                  183                4                low
8                  4                  150                3                low
14                 3                  152                3                low
134                3                  168                2             medium
140                4                  264                3               high

    Gender  Discount_offered  Weight_in_gms  Reached.on.Time_Y.N
2        M                48           3374                    1
8        F                11           1861                    1
14       M                43           1009                    1
134      F                 1           1829                    1
140      M                59           2020                    1

In [10]:
df['Reached.on.Time_Y.N'].value_counts()

Reached.on.Time_Y.N
1    6563
0    4436
Name: count, dtype: int64

In [11]:
df.groupby('Warehouse_block')['Reached.on.Time_Y.N'].value_counts()

Warehouse_block  Reached.on.Time_Y.N
A                1                      1075
                 0                       758
B                1                      1104
                 0                       729
C                1                      1094
                 0                       739
D                1                      1096
                 0                       738
F                1                      2194
                 0                      1472
Name: count, dtype: int64

In [12]:
df.groupby(['Warehouse_block',
            'Mode_of_Shipment'])['Reached.on.Time_Y.N'].value_counts()

Warehouse_block  Mode_of_Shipment  Reached.on.Time_Y.N
A                Flight            1                       174
                                   0                       123
                 Road              1                       168
                                   0                       126
                 Ship              1                       733
                                   0                       509
B                Flight            1                       177
                                   0                       119
                 Road              1                       172
                                   0                       122
                 Ship              1                       755
                                   0                       488
C                Flight            1                       184
                                   0                       111
                 Road              1                       169
                                   0                       125
                 Ship              1                       741
                                   0                       503
D                Flight            1                       178
                                   0                       119
                 Road              1                       174
                                   0                       118
                 Ship              1                       744
                                   0                       501
F                Flight            1                       356
                                   0                       236
                 Road              1                       352
                                   0                       234
                 Ship              1                      1486
                                   0                      1002
Name: count, dtype: int64

In [14]:
df.groupby(['Warehouse_block',
            'Mode_of_Shipment'])['Weight_in_gms'].mean()

Warehouse_block  Mode_of_Shipment
A                Flight              3660.171717
                 Road                3602.901361
                 Ship                3607.724638
B                Flight              3601.966216
                 Road                3615.602041
                 Ship                3648.488335
C                Flight              3625.569492
                 Road                3661.574830
                 Ship                3640.284566
D                Flight              3672.316498
                 Road                3677.500000
                 Ship                3607.065863
F                Flight              3607.991554
                 Road                3670.027304
                 Ship                3642.588424
Name: Weight_in_gms, dtype: float64

In [13]:
df.groupby('Warehouse_block')['Weight_in_gms'].mean()

Warehouse_block
A    3615.448991
B    3635.701037
C    3641.331151
D    3628.846783
F    3641.387616
Name: Weight_in_gms, dtype: float64