In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Train.csv")

In [3]:
df.notnull().sum()

ID                     1000
Warehouse_block        1000
Mode_of_Shipment       1000
Customer_care_calls    1000
Customer_rating        1000
Cost_of_the_Product    1000
Prior_purchases        1000
Product_importance     1000
Gender                 1000
Discount_offered       1000
Weight_in_gms          1000
Reached.on.Time_Y.N    1000
dtype: int64

In [11]:
df.duplicated().sum()

np.int64(0)

In [10]:
for col in df.columns:
    print(f"\nUnique values in {col}:")
    print(df[col].unique())

Unique values in ID:
[   1    2    3    4    5    6    7    8    9   10   11   12   13   14
   15   16   17   18   19   20   21   22   23   24   25   26   27   28
   29   30   31   32   33   34   35   36   37   38   39   40   41   42
   43   44   45   46   47   48   49   50   51   52   53   54   55   56
   57   58   59   60   61   62   63   64   65   66   67   68   69   70
   71   72   73   74   75   76   77   78   79   80   81   82   83   84
   85   86   87   88   89   90   91   92   93   94   95   96   97   98
   99  100  101  102  103  104  105  106  107  108  109  110  111  112
  113  114  115  116  117  118  119  120  121  122  123  124  125  126
  127  128  129  130  131  132  133  134  135  136  137  138  139  140
  141  142  143  144  145  146  147  148  149  150  151  152  153  154
  155  156  157  158  159  160  161  162  163  164  165  166  167  168
  169  170  171  172  173  174  175  176  177  178  179  180  181  182
  183  184  185  186  187  188  189  190  191  192  193  194  195  196
  197  198  199  200  201  202  203  204  205  206  207  208  209  210
  211  212  213  214  215  216  217  218  219  220  221  222  223  224
  225  226  227  228  229  230  231  232  233  234  235  236  237  238
  239  240  241  242  243  244  245  246  247  248  249  250  251  252
  253  254  255  256  257  258  259  260  261  262  263  264  265  266
  267  268  269  270  271  272  273  274  275  276  277  278  279  280
  281  282  283  284  285  286  287  288  289  290  291  292  293  294
  295  296  297  298  299  300  301  302  303  304  305  306  307  308
  309  310  311  312  313  314  315  316  317  318  319  320  321  322
  323  324  325  326  327  328  329  330  331  332  333  334  335  336
  337  338  339  340  341  342  343  344  345  346  347  348  349  350
  351  352  353  354  355  356  357  358  359  360  361  362  363  364
  365  366  367  368  369  370  371  372  373  374  375  376  377  378
  379  380  381  382  383  384  385  386  387  388  389  390  391  392
  393  394  395  396  397  398  399  400  401  402  403  404  405  406
  407  408  409  410  411  412  413  414  415  416  417  418  419  420
  421  422  423  424  425  426  427  428  429  430  431  432  433  434
  435  436  437  438  439  440  441  442  443  444  445  446  447  448
  449  450  451  452  453  454  455  456  457  458  459  460  461  462
  463  464  465  466  467  468  469  470  471  472  473  474  475  476
  477  478  479  480  481  482  483  484  485  486  487  488  489  490
  491  492  493  494  495  496  497  498  499  500  501  502  503  504
  505  506  507  508  509  510  511  512  513  514  515  516  517  518
  519  520  521  522  523  524  525  526  527  528  529  530  531  532
  533  534  535  536  537  538  539  540  541  542  543  544  545  546
  547  548  549  550  551  552  553  554  555  556  557  558  559  560
  561  562  563  564  565  566  567  568  569  570  571  572  573  574
  575  576  577  578  579  580  581  582  583  584  585  586  587  588
  589  590  591  592  593  594  595  596  597  598  599  600  601  602
  603  604  605  606  607  608  609  610  611  612  613  614  615  616
  617  618  619  620  621  622  623  624  625  626  627  628  629  630
  631  632  633  634  635  636  637  638  639  640  641  642  643  644
  645  646  647  648  649  650  651  652  653  654  655  656  657  658
  659  660  661  662  663  664  665  666  667  668  669  670  671  672
  673  674  675  676  677  678  679  680  681  682  683  684  685  686
  687  688  689  690  691  692  693  694  695  696  697  698  699  700
  701  702  703  704  705  706  707  708  709  710  711  712  713  714
  715  716  717  718  719  720  721  722  723  724  725  726  727  728
  729  730  731  732  733  734  735  736  737  738  739  740  741  742
  743  744  745  746  747  748  749  750  751  752  753  754  755  756
  757  758  759  760  761  762  763  764  765  766  767  768  769  770
  771  772  773  774  775  776  777  778  779  780  781  782  783  784
  785  786  787  788  789  790  791  792  793  794  795  796  797  798
  799  800  801  802  803  804  805  806  807  808  809  810  811  812
  813  814  815  816  817  818  819  820  821  822  823  824  825  826
  827  828  829  830  831  832  833  834  835  836  837  838  839  840
  841  842  843  844  845  846  847  848  849  850  851  852  853  854
  855  856  857  858  859  860  861  862  863  864  865  866  867  868
  869  870  871  872  873  874  875  876  877  878  879  880  881  882
  883  884  885  886  887  888  889  890  891  892  893  894  895  896
  897  898  899  900  901  902  903  904  905  906  907  908  909  910
  911  912  913  914  915  916  917  918  919  920  921  922  923  924
  925  926  927  928  929  930  931  932  933  934  935  936  937  938
  939  940  941  942  943  944  945  946  947  948  949  950  951  952
  953  954  955  956  957  958  959  960  961  962  963  964  965  966
  967  968  969  970  971  972  973  974  975  976  977  978  979  980
  981  982  983  984  985  986  987  988  989  990  991  992  993  994
  995  996  997  998  999 1000]

Unique values in Warehouse_block:
['C' 'F' 'B' 'A' 'D']

Unique values in Mode_of_Shipment:
['Flight' 'Ship' 'Road']

Unique values in Customer_care_calls:
[2 7 5 3 6 4]

Unique values in Customer_rating:
[5 2 3 1 4]

Unique values in Cost_of_the_Product:
[306 114 215 126 113 252 235 240 122 198 206 209 151 221 244 225 256 254
  96 181 155 147 217  98 229 281 219 228 107 171 277 185 302 242 300 123
 258 191 179 299 268 250 291 200 284 194 135 286 119 204 227 288 279 112
 211 296 184 136 251 167 245 121 210  99 111 183 138 153 161 259 285 106
 162 146 177 201 134 144 237 294 117 292 102 273 172 164 165 118 213 154
 157 276 226 156 130 105 170  93 241 290 265 143 186 270 218 100 187 301
 255 214 238 150 152 208 116 271 207 269  97 109 232 264 231 110 308 262
  94 261 101 128 180 239 205 182 260 307 216 174 223 236 120 166 103 142
 193  92 169 178 304 132 293 168 309 189 295 199 278 247 160 137 129 203
 188 280 263 233 131 220 267 202 212 197 175 176 253 140 124 234 249 283
 282 133 248 145 192 104 303 275 127 246 222 163  91  95 266 257 159 115
 108 230 125 190 274 297 298 305 195 141 287 272 224 196 148 289 139 243
 158 149 173  90]

Unique values in Prior_purchases:
[ 6  3  7  5  2  4  9  8 10]

Unique values in Product_importance:
['high' 'medium' 'low']

Unique values in Gender:
['M' 'F']

Unique values in Discount_offered:
[45 35 44 54 43 60 42 10  2 41 55 64  8 53 40 16 30 11 32 29 15 61 20 36
 56 51 47 24 52 48  4 63  5 27 23 25 12  3 39 22 46 37 34  7 33 49 19  6
 18 57 13 26 31 14 17  1 38 50 62 28  9 59 58 21]

Unique values in Weight_in_gms:
[3838 2710 4152 2245 1806 1866 2947 2066 2610 5549 3469 5268 5135 3738
 2940 1901 3810 4149 2046 1931 1055 4590 5217 2096 1383 4867 5969 2847
 3278 1783 2992 3023 1483 1664 2356 2574 5616 3130 2957 4738 5449 4834
 5068 4607 1986 5867 1310 3183 4501 2728 1442 3912 3147 2506 2809 2856
 1915 1979 5933 4578 2604 4381 4971 4070 4833 1722 1046 4609 2094 1260
 3670 3883 2494 4955 5699 1959 1899 1719 4605 3936 4579 3875 1094 4769
 3832 2844 4592 4658 5191 4479 2833 1065 4154 2857 5084 3451 3431 5639
 3519 1210 1560 1842 1887 4225 2687 3288 5810 5430 5324 2177 4391 3407
 2397 4599 2260 2916 5485 2019 4142 1324 4765 1934 2900 1850 4514 4081
 3491 2076 2829 1965 1562 2377 2390 3447 2826 1106 1561 3959 4994 3084
 4245 2783 4308 3801 2237 5124 2693 5346 3953 1566 1257 4302 5305 1684
 5347 4930 3935 2248 1812 5591 1044 2027 4859 2814 1791 4187 5105 4526
 3262 1753 2955 3527 3542 3031 3007 1139 1830 4362 3206 1392 1190 4755
 2771 3570 4309 4241 1074 4383 4956 3546 3108 5914 3789 3477 3802 2242
 1005 5045 1441 1831 4126 2353 2365 3775 5003 3396 2432 3602 3778 5627
 5811 2433 1972 4101 1698 1355 3780 2100 4877 3053 3977 3219 2200 1510
 1345 5404 4223 4297 2069 1039 1630 2054 1643 2892 4370 4797 4148 2668
 4504 4766 2330 4086 1658 3199 3624 5776 1048 2182 5033 3848 5724 1419
 2047 2266 1762 5026 5509 3246 1892 1404 3884 2896 3991 3994 4382 4672
 4712 4337 2985 2383 5872 3692 4804 3582 3757 1580 4727 3913 3521 3886
 5356 2976 4602 4722 3497 3251 4120 4825 3389 3713 4980 1913 1346 4160
 4273 4426 5791 5420 1314 2861 4829 3167 4306 3493 4401 2886 4183 3413
 3441 2488 2870 4048 5067 4623 2001 2937 1189 5027 5056 4847 4008 1773
 4537 2040 5803 2622 3835 1238 1411 5543 2032 4572 1481 2055 5885 4693
 2777 3495 4560 5155 2615 1197 5249 3996 4477 3016 5047 4608 3203 2889
 5921 2930 2062 5598 1485 4894 1766 2669 2948 3021 4615 3560 3071 1761
 4554 4087 4701 2434 3982 2973 5009 5600 2587 3937 4732 1849 4468 3125
 3289 3882 3867 1157 1581 2843 1414 4123 5377 2927 2159 3190 5757 2326
 1109 2156 5355 3272 1618 4870 3154 1064 2691 5280 2588 5365 5272 3885
 2407 2731 1734 4933 1657 1243 2679 5932 4862 2166 3411 4113 4952 2443
 4068 4372 3579 3139 1279 2317 5882 4135 1124 1025 2025 1742 4940 1991
 5582 3178 4144 2901 5889 4845 1095 5599 1332 5081 1437 5684 1031 4013
 5389 5459 5739 1706 4064 4244 3473 2804 5634 3661 4218 4611 1079 5291
 3325 5327 3243 5663 4398 4809 5427 4116 5016 1148 5955 4249 4546 5988
 2441 1011 5380 1285 2354 2596 3377 5961 1980 5143 1870 4397 4742 3034
 5097 2391 5336 2499 2017 2128 2048 3880 5784 4489 3408 3116 3979 4334
 4986 5922 5089 2898 1254 4206 1553 4813 4586 3453 1320 4720 3060 5619
 5704 5520 2146 2090 5781 3586 4017 2431 4633 5745 5227 1282 5494 3163
 5967 5145 2388 4272 1255 4826 5795 3230 3578 2508 4016 5062 4717 5149
 1240 5817 1951 2097 1456 5751 5925 4118 4908 1425 4535 3615 2123 3387
 4132 2662 1117 1093 4270 3454 2472 4386 5493 3294 4832 2840 1052 4023
 3395 3222 5741 2187 4480 3696 5522 4683 5947 1907 1865 4456 5279 3195
 5618 5229 1981 5165 2863 3434 5572 3112 4518 2671 5758 1229 4186 1686
 4282 4445 4991 1707 5091 1911 2234 2221 4638 3974 1104 5856 4049 3669
 5014 1154 4781 5156 5567 3337 3017 5735 2709 5648 2022 2430 2520 4516
 5382 3766 5957 2897 1945 1268 1872 2273 1231 1867 5943 3339 2681 4472
 3018 1583 1151 1650 4065 5797 4853 4737 2906 3297 2510 1169 5360 2450
 2602 1851 5070 3487 4901 1751 2303 4317 4090 3814 4229 2016 5153 2147
 1824 4059 4610 3330 4122 1130 4985 5306 4361 2279 3877 4486 2109 4000
 2349 3186 5756 5002 1078 4805 5593 1506 4019 5220 2621 2277 1785 2314
 5053 2485 2036 5579 1459 3371 4915 1363 2689 4664 4966 5718 5518 3131
 1909 5622 3927 5883 4948 4937 2436 1250 3860 2406 3554 2519 4893 3182
 3442 4261 3532 2411 2218 3707 3027 1301 5919 1950 3798 5497 4649 3754
 4085 2707 1794 1119 2871 5341 3165 2727 5189 2803 2928 2428 5302 2254
 3866 2984 5309 4467 5680 5381 1357 1752 1295 3159 1454 3280 3822 3492
 5554 3795 2806 5398 4622 4795 4463 5119 2249 1015 5818 4978 3922 5707
 3181 4388 1692 4460 4869 3573 3995 3895 2718 3316 4277 3961 2575 2294
 1947 3537 4684 1237 5712 1242 4861 4606 1859 4042 3014 2372 4661 5273
 1113 4438 1354 5174 4656 5695 3531 1056 2133 4974 4936 3930 3388 3157
 4095 2846 1487 4310 3117 3581 4283 2959 1178 5813 3435 4751 5801 3518
 1542 1975 2478 5086 4020 4084 4478 5202 3737 2841 3452 4212 3282 4898
 1181 4965 5548 4389 3718 3623 5887 2956 3827 5313 1944 2176 4773 1105
 4983 5333 4595 3496 5466 3566 5492 1969 4855 3423 3734 2021 2157 5828
 1283 4594 1116 1690 3993 4959 4678 4642 5208 3150 2631 3861 5926 3238
 1476 2496 1033 2907 1360 3584 1304]

Unique values in Reached.on.Time_Y.N:
[1 0]

In [12]:
for col in df.columns:
    print(f"\nValue counts for {col}:")
    print(df[col].value_counts())

Value counts for ID:
ID
1000    1
1       1
2       1
3       1
4       1
       ..
13      1
12      1
11      1
10      1
9       1
Name: count, Length: 1000, dtype: int64

Value counts for Warehouse_block:
Warehouse_block
C    214
D    213
A    197
F    196
B    180
Name: count, dtype: int64

Value counts for Mode_of_Shipment:
Mode_of_Shipment
Road      345
Ship      333
Flight    322
Name: count, dtype: int64

Value counts for Customer_care_calls:
Customer_care_calls
6    174
7    173
2    171
3    166
5    164
4    152
Name: count, dtype: int64

Value counts for Customer_rating:
Customer_rating
2    206
1    205
5    202
3    194
4    193
Name: count, dtype: int64

Value counts for Cost_of_the_Product:
Cost_of_the_Product
273    12
170    11
189    10
121     9
247     9
       ..
266     1
287     1
149     1
173     1
90      1
Name: count, Length: 220, dtype: int64

Value counts for Prior_purchases:
Prior_purchases
8     123
9     120
4     120
6     119
2     115
3     105
5     101
10     99
7      98
Name: count, dtype: int64

Value counts for Product_importance:
Product_importance
low       353
medium    325
high      322
Name: count, dtype: int64

Value counts for Gender:
Gender
F    516
M    484
Name: count, dtype: int64

Value counts for Discount_offered:
Discount_offered
41    28
4     26
11    23
3     23
49    23
      ..
20    10
27    10
1      9
50     9
8      8
Name: count, Length: 64, dtype: int64

Value counts for Weight_in_gms:
Weight_in_gms
1722    4
5027    3
2147    3
2857    3
2431    3
       ..
3495    1
4560    1
5155    1
2615    1
2622    1
Name: count, Length: 903, dtype: int64

Value counts for Reached.on.Time_Y.N:
Reached.on.Time_Y.N
1    505
0    495
Name: count, dtype: int64

In [14]:
df.describe(include='all')

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
count,1000.000000,1000,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000,1000,1000.000000,1000.000000,1000.000000
unique,NaN,5,3,NaN,NaN,NaN,NaN,3,2,NaN,NaN,NaN
top,NaN,C,Road,NaN,NaN,NaN,NaN,low,F,NaN,NaN,NaN
freq,NaN,214,345,NaN,NaN,NaN,NaN,353,516,NaN,NaN,NaN
mean,500.500000,NaN,NaN,4.523000,2.981000,200.316000,5.984000,NaN,NaN,31.987000,3501.413000,0.505000
std,288.819436,NaN,NaN,1.731031,1.424313,62.730178,2.574174,NaN,NaN,18.506737,1407.924646,0.500225
min,1.000000,NaN,NaN,2.000000,1.000000,90.000000,2.000000,NaN,NaN,1.000000,1005.000000,0.000000
25%,250.750000,NaN,NaN,3.000000,2.000000,146.000000,4.000000,NaN,NaN,16.000000,2271.250000,0.000000
50%,500.500000,NaN,NaN,5.000000,3.000000,202.500000,6.000000,NaN,NaN,32.000000,3544.000000,1.000000
75%,750.250000,NaN,NaN,6.000000,4.000000,254.000000,8.000000,NaN,NaN,48.000000,4683.250000,1.000000
max,1000.000000,NaN,NaN,7.000000,5.000000,309.000000,10.000000,NaN,NaN,64.000000,5988.000000,1.000000