In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv('Train.csv')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1000 non-null   int64
 1   Warehouse_block      1000 non-null   object
 2   Mode_of_Shipment     1000 non-null   object
 3   Customer_care_calls  1000 non-null   int64
 4   Customer_rating      1000 non-null   int64
 5   Cost_of_the_Product  1000 non-null   int64
 6   Prior_purchases      1000 non-null   int64
 7   Product_importance   1000 non-null   object
 8   Gender               1000 non-null   object
 9   Discount_offered     1000 non-null   int64
 10  Weight_in_gms        1000 non-null   int64
 11  Reached.on.Time_Y.N  1000 non-null   int64
dtypes: int64(8), object(4)
memory usage: 93.9+ KB

In [3]:
df['Cost_of_the_Product'].agg(['mean', 'sum', 'min', 'max', 'median'])

mean         200.316
sum       200316.000
min           90.000
max          309.000
median       202.500
Name: Cost_of_the_Product, dtype: float64

In [4]:
df.groupby('Mode_of_Shipment')['Cost_of_the_Product'].agg(['mean', 'sum', 'count'])

                        mean    sum  count
Mode_of_Shipment
Flight            197.577640  63620    322
Road              199.147826  68706    345
Ship              204.174174  67990    333

In [5]:
df.groupby('Reached.on.Time_Y.N')['Discount_offered'].agg(['mean', 'min', 'max'])

                          mean  min  max
Reached.on.Time_Y.N
0                    31.577778    1   64
1                    32.388119    1   64