Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Loading the dataset

In [2]:
data=pd.read_csv('Train.csv')

Describe , Info and Describe Object

In [3]:
data.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,4.523000,2.981000,200.316000,5.984000,31.987000,3501.413000,0.505000
std,288.819436,1.731031,1.424313,62.730178,2.574174,18.506737,1407.924646,0.500225
min,1.000000,2.000000,1.000000,90.000000,2.000000,1.000000,1005.000000,0.000000
25%,250.750000,3.000000,2.000000,146.000000,4.000000,16.000000,2271.250000,0.000000
50%,500.500000,5.000000,3.000000,202.500000,6.000000,32.000000,3544.000000,1.000000
75%,750.250000,6.000000,4.000000,254.000000,8.000000,48.000000,4683.250000,1.000000
max,1000.000000,7.000000,5.000000,309.000000,10.000000,64.000000,5988.000000,1.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1000 non-null   int64
 1   Warehouse_block      1000 non-null   object
 2   Mode_of_Shipment     1000 non-null   object
 3   Customer_care_calls  1000 non-null   int64
 4   Customer_rating      1000 non-null   int64
 5   Cost_of_the_Product  1000 non-null   int64
 6   Prior_purchases      1000 non-null   int64
 7   Product_importance   1000 non-null   object
 8   Gender               1000 non-null   object
 9   Discount_offered     1000 non-null   int64
 10  Weight_in_gms        1000 non-null   int64
 11  Reached.on.Time_Y.N  1000 non-null   int64
dtypes: int64(8), object(4)
memory usage: 93.9+ KB

In [5]:
data.describe(include=object)

       Warehouse_block Mode_of_Shipment Product_importance Gender
count             1000             1000               1000   1000
unique               5                3                  3      2
top                  C             Road                low      F
freq               214              345                353    516

Printing the Duplicates Sum

In [6]:
print('The sum of duplicates in the data',data.duplicated().sum().sum())

The sum of duplicates in the data 0

Displaying the number of value counts for each Mode of Shipment

In [7]:
data['Mode_of_Shipment'].value_counts()

Mode_of_Shipment
Road      345
Ship      333
Flight    322
Name: count, dtype: int64

In [8]:
d=data.iloc[:,1:]

Printing the unique values in each column

In [9]:
for i in d.columns:
    print(f'{i}:{d[i].unique()}')

Warehouse_block:['C' 'F' 'B' 'A' 'D']
Mode_of_Shipment:['Flight' 'Ship' 'Road']
Customer_care_calls:[2 7 5 3 6 4]
Customer_rating:[5 2 3 1 4]
Cost_of_the_Product:[306 114 215 126 113 252 235 240 122 198 206 209 151 221 244 225 256 254
  96 181 155 147 217  98 229 281 219 228 107 171 277 185 302 242 300 123
 258 191 179 299 268 250 291 200 284 194 135 286 119 204 227 288 279 112
 211 296 184 136 251 167 245 121 210  99 111 183 138 153 161 259 285 106
 162 146 177 201 134 144 237 294 117 292 102 273 172 164 165 118 213 154
 157 276 226 156 130 105 170  93 241 290 265 143 186 270 218 100 187 301
 255 214 238 150 152 208 116 271 207 269  97 109 232 264 231 110 308 262
  94 261 101 128 180 239 205 182 260 307 216 174 223 236 120 166 103 142
 193  92 169 178 304 132 293 168 309 189 295 199 278 247 160 137 129 203
 188 280 263 233 131 220 267 202 212 197 175 176 253 140 124 234 249 283
 282 133 248 145 192 104 303 275 127 246 222 163  91  95 266 257 159 115
 108 230 125 190 274 297 298 305 195 141 287 272 224 196 148 289 139 243
 158 149 173  90]
Prior_purchases:[ 6  3  7  5  2  4  9  8 10]
Product_importance:['high' 'medium' 'low']
Gender:['M' 'F']
Discount_offered:[45 35 44 54 43 60 42 10  2 41 55 64  8 53 40 16 30 11 32 29 15 61 20 36
 56 51 47 24 52 48  4 63  5 27 23 25 12  3 39 22 46 37 34  7 33 49 19  6
 18 57 13 26 31 14 17  1 38 50 62 28  9 59 58 21]
Weight_in_gms:[3838 2710 4152 2245 1806 1866 2947 2066 2610 5549 3469 5268 5135 3738
 2940 1901 3810 4149 2046 1931 1055 4590 5217 2096 1383 4867 5969 2847
 3278 1783 2992 3023 1483 1664 2356 2574 5616 3130 2957 4738 5449 4834
 5068 4607 1986 5867 1310 3183 4501 2728 1442 3912 3147 2506 2809 2856
 1915 1979 5933 4578 2604 4381 4971 4070 4833 1722 1046 4609 2094 1260
 3670 3883 2494 4955 5699 1959 1899 1719 4605 3936 4579 3875 1094 4769
 3832 2844 4592 4658 5191 4479 2833 1065 4154 2857 5084 3451 3431 5639
 3519 1210 1560 1842 1887 4225 2687 3288 5810 5430 5324 2177 4391 3407
 2397 4599 2260 2916 5485 2019 4142 1324 4765 1934 2900 1850 4514 4081
 3491 2076 2829 1965 1562 2377 2390 3447 2826 1106 1561 3959 4994 3084
 4245 2783 4308 3801 2237 5124 2693 5346 3953 1566 1257 4302 5305 1684
 5347 4930 3935 2248 1812 5591 1044 2027 4859 2814 1791 4187 5105 4526
 3262 1753 2955 3527 3542 3031 3007 1139 1830 4362 3206 1392 1190 4755
 2771 3570 4309 4241 1074 4383 4956 3546 3108 5914 3789 3477 3802 2242
 1005 5045 1441 1831 4126 2353 2365 3775 5003 3396 2432 3602 3778 5627
 5811 2433 1972 4101 1698 1355 3780 2100 4877 3053 3977 3219 2200 1510
 1345 5404 4223 4297 2069 1039 1630 2054 1643 2892 4370 4797 4148 2668
 4504 4766 2330 4086 1658 3199 3624 5776 1048 2182 5033 3848 5724 1419
 2047 2266 1762 5026 5509 3246 1892 1404 3884 2896 3991 3994 4382 4672
 4712 4337 2985 2383 5872 3692 4804 3582 3757 1580 4727 3913 3521 3886
 5356 2976 4602 4722 3497 3251 4120 4825 3389 3713 4980 1913 1346 4160
 4273 4426 5791 5420 1314 2861 4829 3167 4306 3493 4401 2886 4183 3413
 3441 2488 2870 4048 5067 4623 2001 2937 1189 5027 5056 4847 4008 1773
 4537 2040 5803 2622 3835 1238 1411 5543 2032 4572 1481 2055 5885 4693
 2777 3495 4560 5155 2615 1197 5249 3996 4477 3016 5047 4608 3203 2889
 5921 2930 2062 5598 1485 4894 1766 2669 2948 3021 4615 3560 3071 1761
 4554 4087 4701 2434 3982 2973 5009 5600 2587 3937 4732 1849 4468 3125
 3289 3882 3867 1157 1581 2843 1414 4123 5377 2927 2159 3190 5757 2326
 1109 2156 5355 3272 1618 4870 3154 1064 2691 5280 2588 5365 5272 3885
 2407 2731 1734 4933 1657 1243 2679 5932 4862 2166 3411 4113 4952 2443
 4068 4372 3579 3139 1279 2317 5882 4135 1124 1025 2025 1742 4940 1991
 5582 3178 4144 2901 5889 4845 1095 5599 1332 5081 1437 5684 1031 4013
 5389 5459 5739 1706 4064 4244 3473 2804 5634 3661 4218 4611 1079 5291
 3325 5327 3243 5663 4398 4809 5427 4116 5016 1148 5955 4249 4546 5988
 2441 1011 5380 1285 2354 2596 3377 5961 1980 5143 1870 4397 4742 3034
 5097 2391 5336 2499 2017 2128 2048 3880 5784 4489 3408 3116 3979 4334
 4986 5922 5089 2898 1254 4206 1553 4813 4586 3453 1320 4720 3060 5619
 5704 5520 2146 2090 5781 3586 4017 2431 4633 5745 5227 1282 5494 3163
 5967 5145 2388 4272 1255 4826 5795 3230 3578 2508 4016 5062 4717 5149
 1240 5817 1951 2097 1456 5751 5925 4118 4908 1425 4535 3615 2123 3387
 4132 2662 1117 1093 4270 3454 2472 4386 5493 3294 4832 2840 1052 4023
 3395 3222 5741 2187 4480 3696 5522 4683 5947 1907 1865 4456 5279 3195
 5618 5229 1981 5165 2863 3434 5572 3112 4518 2671 5758 1229 4186 1686
 4282 4445 4991 1707 5091 1911 2234 2221 4638 3974 1104 5856 4049 3669
 5014 1154 4781 5156 5567 3337 3017 5735 2709 5648 2022 2430 2520 4516
 5382 3766 5957 2897 1945 1268 1872 2273 1231 1867 5943 3339 2681 4472
 3018 1583 1151 1650 4065 5797 4853 4737 2906 3297 2510 1169 5360 2450
 2602 1851 5070 3487 4901 1751 2303 4317 4090 3814 4229 2016 5153 2147
 1824 4059 4610 3330 4122 1130 4985 5306 4361 2279 3877 4486 2109 4000
 2349 3186 5756 5002 1078 4805 5593 1506 4019 5220 2621 2277 1785 2314
 5053 2485 2036 5579 1459 3371 4915 1363 2689 4664 4966 5718 5518 3131
 1909 5622 3927 5883 4948 4937 2436 1250 3860 2406 3554 2519 4893 3182
 3442 4261 3532 2411 2218 3707 3027 1301 5919 1950 3798 5497 4649 3754
 4085 2707 1794 1119 2871 5341 3165 2727 5189 2803 2928 2428 5302 2254
 3866 2984 5309 4467 5680 5381 1357 1752 1295 3159 1454 3280 3822 3492
 5554 3795 2806 5398 4622 4795 4463 5119 2249 1015 5818 4978 3922 5707
 3181 4388 1692 4460 4869 3573 3995 3895 2718 3316 4277 3961 2575 2294
 1947 3537 4684 1237 5712 1242 4861 4606 1859 4042 3014 2372 4661 5273
 1113 4438 1354 5174 4656 5695 3531 1056 2133 4974 4936 3930 3388 3157
 4095 2846 1487 4310 3117 3581 4283 2959 1178 5813 3435 4751 5801 3518
 1542 1975 2478 5086 4020 4084 4478 5202 3737 2841 3452 4212 3282 4898
 1181 4965 5548 4389 3718 3623 5887 2956 3827 5313 1944 2176 4773 1105
 4983 5333 4595 3496 5466 3566 5492 1969 4855 3423 3734 2021 2157 5828
 1283 4594 1116 1690 3993 4959 4678 4642 5208 3150 2631 3861 5926 3238
 1476 2496 1033 2907 1360 3584 1304]
Reached.on.Time_Y.N:[1 0]

Printing the number of unique values in each column of the dataset

In [10]:
d.nunique()

Warehouse_block          5
Mode_of_Shipment         3
Customer_care_calls      6
Customer_rating          5
Cost_of_the_Product    220
Prior_purchases          9
Product_importance       3
Gender                   2
Discount_offered        64
Weight_in_gms          903
Reached.on.Time_Y.N      2
dtype: int64