In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_theme(style="whitegrid")

In [10]:
df = pd.read_csv('Train.csv')
print(df)
df.head()

       ID Warehouse_block Mode_of_Shipment  Customer_care_calls  \
0       1               C           Flight                    2
1       2               F             Ship                    7
2       3               B             Ship                    7
3       4               A             Road                    5
4       5               F             Ship                    3
..    ...             ...              ...                  ...
995   996               F           Flight                    7
996   997               F             Ship                    7
997   998               A             Road                    7
998   999               A             Road                    5
999  1000               B           Flight                    6

     Customer_rating  Cost_of_the_Product  Prior_purchases Product_importance  \
0                  5                  306                6               high
1                  2                  114                3               high
2                  2                  215                7             medium
3                  3                  126                5             medium
4                  5                  113                3             medium
..               ...                  ...              ...                ...
995                4                  190                3             medium
996                1                  122                7               high
997                1                  187                6             medium
998                3                  296                3                low
999                5                  207                5             medium

    Gender  Discount_offered  Weight_in_gms  Reached.on.Time_Y.N
0        M                45           3838                    1
1        M                35           2710                    1
2        F                44           4152                    0
3        M                54           2245                    0
4        M                43           1806                    1
..     ...               ...            ...                  ...
995      F                56           2907                    0
996      M                64           1360                    0
997      F                64           3584                    1
998      M                17           1487                    1
999      F                17           1304                    1

[1000 rows x 12 columns]

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,C,Flight,2,5,306,6,high,M,45,3838,1
1,2,F,Ship,7,2,114,3,high,M,35,2710,1
2,3,B,Ship,7,2,215,7,medium,F,44,4152,0
3,4,A,Road,5,3,126,5,medium,M,54,2245,0
4,5,F,Ship,3,5,113,3,medium,M,43,1806,1

In [ ]:
df.head()

In [ ]:
# df.info()
df.describe()

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
sns.countplot(x='Reached.on.Time_Y.N',data = df)
plt.title("Distribution of On-time (i) vs teh Delayed shipments")
plt.show()

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv('./data/Train.csv')

df.info()

In [ ]:
print(f"Duplicated rows:", df.duplicated().sum())

In [ ]:
for col in df.select_dtypes(include='object').columns:
    print(f"Unique values in {col}: {df[col].unique()}")

In [ ]:
print("\n Warehouse Block Counts:")
print(df['Mode_of_Shipment'].value_counts())
print(df['Gender'].value_counts())
print(df['Warehouse_block'].value_counts())

In [ ]:
df.describe(include='object')

In [ ]:
plt.figure(figsize=(8,5))
sns.countplot(x='Product_importance', hue='Reached.on.Time_Y.N',data=df)
plt.title("Product_Importance vs On-Time Delivery")
plt.show()

In [ ]:
plt.figure(figsize=(8,5))
sns.countplot(x='Warehouse_block', hue='Mode_of_Shipment',data=df)
plt.title("Product_Importance vs On-Time Delivery")
plt.show()

In [ ]:
# //Histogram on the Discount Offered//
plt.figure(figure=(8,4))
sns.histplot(df['Discount_offered'], bins =20, kde=True)
plt.title("Distrubution on the Dicount Offered")
plt.show()

In [ ]:
plt.figure(figsize=(8,4))
sns.boxplot(x=df['Cost_of_the_Product'])
plt.title("Box Plot of Product Cost")
plt.show()

In [ ]:
plt.figure(figsize=(8,4))
sns.boxplot(x=df['Weight_in_gms'])
plt.title("Box Plot of Shipment Weight")
plt.show()

In [ ]:
print(f"Skewness:\n",df.select_dtypes(include=np.number).skew())

In [ ]:
df['Cost_of_the_Product']

In [ ]:
df['Cost_of_the_Product'].value_counts()
df['Weight_in_gms'].value_counts()
df['Weight_in_gms'].iloc[0:20]
df['Reached.on.Time_Y.N'].unique()

In [ ]:
#Scatter Plot
plt.figure(figsize=(8,4))
sns.scatterplot(x='Cost_of_the_Product',y='Weight_in_gms', hue='Reached.on.Time_Y.N',data=df,alpha = 0.5)
plt.title("Cost Vs the Weight of the product")
plt.show()

In [ ]:
#Scatter Plot
plt.figure(figsize=(9,7))
sns.scatterplot(x='Discount_offered',y='Weight_in_gms', hue='Reached.on.Time_Y.N',data=df,alpha = 0.5)
plt.title("Cost Vs the Weight of the product")
plt.show()

In [ ]:
df['Warehouse_block'].unique()

In [ ]:
print("Pivot Table: Average Customer Rating")
pivot1 = df.pivot_table(values = 'Customer_rating',index = "Warehouse_block",columns="Mode_of_Shipment",aggfunc='mean')
display(pivot1)

In [ ]:
avg_cost = df['Cost_of_the_Product'].mean()
avg_cost

In [ ]:

high_cost = df[df['Cost_of_the_Product']>avg_cost]
high_cost
print(f"Number of high Cost Shipments (>{avg_cost:.2f}):{len(high_cost)}")

In [ ]:
high_imp_discount = df[df['Product_importance'] == 'high']['Discount_offered'].mean()
print(f"Average Discount for high importance products {high_imp_discount} ")

In [ ]:
plt.figure(figsize=(8,8))
numeric_df = df.select_dtypes(include=[np.number])
sns.heatmap(numeric_df.corr(),annot = True, cmap = 'Blues',fmt = '.2f')
plt.title("Co-Relation Matrix")
plt.show()

In [ ]:
print("Average Cost per Warehouse")
print(df.groupby('Warehouse_block')['Cost_of_the_Product'].mean())

In [ ]:
print("\nOn-Time Delivery by Shipment Mode")
print(df.groupby('Mode_of_Shipment')['Reached.on.Time_Y.N'].sum())

In [ ]:
print(df.groupby('Mode_of_Shipment')['Reached.on.Time_Y.N'].mean())